.fotobox-main-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.fotobox-main-section .call-to-action p {
  margin-right: 50px;
  padding-right: 50px;
}
.iframe-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-right: 50px;
}
.iframe-container .subtitle {
  align-self: flex-end;
  font-weight: 600;
}
.iframe-container iframe {
  margin-right: 2rem;
  height: 25vh;
  width: 22vw;
  box-shadow: -7px 7px rgba(0, 0, 0, 0.152);
  border-radius: 2%;
  border-style: none;
}
@media (max-width: 800px) {
  .fotobox-main-section {
    flex-direction: column-reverse;
    justify-content: center;
    max-width: 90vw;
  }
  .fotobox-main-section .call-to-action p {
    margin-right: 0px;
    padding-right: 0px;
  }
  .fotobox-main-section .title {
    font-size: 2em;
  }
  .iframe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
  }
  .iframe-container iframe {
    display: none;
  }

  .call-to-action {
    display: flex;
    flex-direction: column;
    padding: 25px;
    max-width: 90vh;
  }
  .call-to-action p {
    margin-top: 25px;
    align-self: flex-start;
  }
}
.fotobox-page-square-1 {
  position: absolute;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: rgba(41, 45, 62, 0.2);
  bottom: 5vw;
  left: 5vw;
  z-index: -1;
}
.fotobox-page-square-2 {
  position: absolute;
  width: 17vw;
  height: 17vw;
  border-radius: 50%;
  background-color: rgba(41, 45, 62, 0.2);
  top: 10vh;
  left: 40vw;
  z-index: -1;
}
.fotobox-page-square-3 {
  overflow: hidden;
  position: absolute;
  width: 25vw;
  height: 100vh;

  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: rgba(41, 45, 62, 0.2);
}
.slideshow-container img {
  max-height: 60vh;
  width: auto;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
