body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.2 rem;
  background-color: #1b1e2b;
  background-image: url(/res/bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #d8d8d8;
  min-height: 100vh;
  overflow: hidden;
}
.home-main-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  background-image: url(/res/bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home-main-section .img-wrapper {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}
.home-main-section .lamp {
  flex-grow: 1;
  max-height: 80vh;
  min-width: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.home-main-section .call-to-action {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .home-main-section .img-wrapper {
    display: none;
  }
  .call-to-action {
    background-color: rgba(27, 30, 44, 0.658);
  }

  .title {
    font-weight: 600;
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .subtitle {
    font-weight: 500;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

.home-page-circle-1 {
  position: absolute;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: rgba(41, 45, 62, 0.2);
  bottom: 5vw;
  left: 5vw;
  z-index: -1;
}
