body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.2 rem;
  background-color: #222222;
  color: #d8d8d8;
  min-height: 100vh;
}
.home-main-section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
}
.home-main-section .img-wrapper {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}
.home-main-section .lamp {
  background-image: url("/res/2.png");
  flex-grow: 1;
  max-height: 80vh;
  min-width: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.home-main-section .call-to-action {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  align-self: center;
}
@media (max-width: 900px) {
  .home-main-section .img-wrapper {
    display: none;
  }
  .home-main-section {
    justify-content: center;
  }
}
.home-page-circle-1 {
  position: absolute;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: rgba(47, 48, 58, 0.233);
  bottom: 5vw;
  left: 5vw;
  z-index: -1;
}
.home-page-circle-2 {
  position: absolute;
  width: 17vw;
  height: 17vw;
  border-radius: 50%;
  background-color: rgba(47, 48, 58, 0.233);
  top: 10vh;
  left: 40vw;
  z-index: -1;
}
.home-page-circle-3 {
  overflow: hidden;
  position: absolute;
  width: 25vw;
  height: 100vh;

  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: rgba(47, 48, 58, 0.233);
}
