.about-main-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.about-main-section .covers-img {
  width: 30vw;
  margin-left: 2rem;
  height: auto;
  max-width: 450px;
  opacity: 67%;
}
@media (max-width: 800px) {
  .about-main-section {
    flex-direction: column;
    justify-content: center;
    max-width: 90vw;
  }
  .about-main-section .covers-img {
    margin-top: 2rem;
    height: 30vh;
    width: auto;
  }
  .about-main-section .title {
    font-size: 2em;
  }
}
.about-page-square-1 {
  position: absolute;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: rgba(41, 45, 62, 0.2);
  bottom: 5vw;
  left: 5vw;
  z-index: -1;
}
.about-page-square-2 {
  position: absolute;
  width: 17vw;
  height: 17vw;
  border-radius: 50%;
  background-color: rgba(41, 45, 62, 0.2);
  top: 10vh;
  left: 40vw;
  z-index: -1;
}
.about-page-square-3 {
  overflow: hidden;
  position: absolute;
  width: 25vw;
  height: 100vh;

  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: rgba(41, 45, 62, 0.2);
}
